* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* body {
    max-width: 100%;
    margin: auto;
} */

header {
    max-width: 100%;
    margin: auto;
    /* border: 2px solid red; */
    padding: 20px 10px;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.452);
}

.img {
    /* border: 1px solid blue; */
    margin-left: 40px;
}

.nav__left {
    display: inline-block;
}

.nav__right {
    display: inline-block;
    position: relative;
    left: 50%;
}

.nav__right a {
    text-decoration: none;
    color: black;
}

.nav__right a:hover {
    background-color: rgba(128, 128, 128, 0.542);
}

.wrap {
    width: 100%;
}

.section__left {
    width: 48%;
    float: left;
}

.section__left h2 {
    margin-top: 97px;
    font-size: 35px;
    margin-left: 100px;
}

.section__left p {
    font-size: 20px;
    margin-left: 100px;
    margin-top: 10px;
}

.section__left button {
    padding: 8px, 16px, 8px, 16px;
    background-color: #00BAFC;
    border-radius: 5px;
    width: 200px;
    height: 25px;
    margin-left: 100px;
    margin-top: 10px;
}

.section__right {
    float: right;
    margin-top: 97px;
    margin-right: 100px;
}

.section__right .you {
    border-radius: 8px;
}

.xizmatlar {
    display: inline-block;
    height: 100px;
    /* border: 1px solid red; */
    width: 100%;
    margin-top: 60px;
}

.xizmatlar h1 {
    text-align: center;

}

.xizmatlar p {
    text-align: center;
    max-width: 300px;
    margin: auto;
}

.wrapp {
    margin-top: 10px;
    box-shadow: 0px 0px 8px gray;
    margin-left: 12%;
    /* width: 20%; */
    float: left;
    /* border: 1px solid red; */
    width: 18%;
    height: 250px;
}

.wrapp img {
    width: 100%;
}

.wrapp h3 {
    text-align: center;
}

span {
    /* border: 4px solid blue; */
    position: relative;
    left: 10px;
}


.men {
    width: 100%;
}

.wrappp {
    /* border: 2px solid red; */
    float: left;
    margin-left: 20px;
    width: 18%;
    margin-top: 270px;
    box-shadow: 0px 0px 8px gray;
    margin-left: 21.5%;
    height: 250px;

}

.wrappp img {
    width: 100%;
    text-align: center;
}

.wrappp h3 {
    text-align: center;
}

.wrappp p {
    text-align: center;
}

.men button {
    background-color: #00BAFC;
    padding: 9px;
    border-radius: 5px;
    position: relative;
    right: 550px;
    margin-top: 570px;

}

.men a {
    position: relative;
    right: 550px;
    margin-top: 570px;
}

.text {
    /* position: relative;
    top: 40%; */
}

.text h2 {
    margin-top: 60px;
    text-align: center;
}

.text p {
    text-align: center;
    width: 400px;
    max-width: 600px;
    margin: auto;
}

.rasm {
    border: 2px solid red;
}

.rasm img {
    position: relative;
    left: 50px;
    display: inline;
    border: 2px solid blue;
}

.rasm .left {
    display: inline;
    position: relative;
    top: -170px;
    left: 90px;
}

.rasm .right {
    display: inline;
    position: relative;
    top: -170px;
    left: 400px;
    /* width: 240px; */
    /* border: 2px solid red; */
}
.rasm__rasm{
    border: 2px solid red;
}
.rasm .left {
    font-size: 30px;
    font-weight: bold;
}
.rasm__rasm.left__left{
    position: relative;
    left: 100px;
    display: inline;
    bottom: -170px;
    border: 2px solid blue;
    
}
.rasm__rasm .right__right {
    display: inline;
    position: relative;
    top: -170px;
    /* left: 400px; */
    /* width: 240px; */
    border: 2px solid red;
}
.rasm__rasm .img__img{
    display: inline;
    position: relative;
    /* top: -270px; */
    right: -500px;
}





























