*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    padding: 25px;
    box-shadow: 0 0 8px rgba(128, 128, 128, 0.896);
}
.wrap{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 40%;
    margin-left: 100px;
    /* line-height: 27px; */

}
.card h2{
    width: 100%;
    font-size: 57px;
}
.img{
    width: 40%;
}