* {
    margin    : 0%;
    padding   : 0%;
    box-sizing: border-box;
}

div {
    animation-duration: 10s;
    animation-name    : carAnime;
    position          : absolute;
    transform         : rotate(180deg);
    transform         : rotate3d(120deg);
    border            : 2px solid red;
}

@keyframes carAnime {
    
}